@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FlickrClone.Models.Picture

<h2>Add a new picture post</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.Url)
    @Html.EditorFor(model => model.Url)
    <input type="submit" value="Create" />
}
@Html.ActionLink("Back to List", "Index")